<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 UpTask - Administrador de Proyectos #{year}
            a(href="/cerrar-sesion") Cerrar Sesión
        
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
                        span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(projects.length)
                            each project in projects
                                li
                                    a(href=`/proyectos/${project.url}`) #{project.name}                 
            block content
            //pre= vardump(projects)
        script(src="/dist/bundle.js")
