<!DOCTYPE html>
html(lang="en")
    head
        include ../partials/header
    body.login
        .contenedor-formulario
            h1= pageTitle
            p Agrega tu e-mail para reestablecer la contraseña

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)
                                p= error    

            form.caja-login(method="POST" action="/recuperar-password")
                br
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Tu email")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Contraseña")
                .campo.acciones
                    a(href="/iniciar-sesion") Ya la recordé, volver a Iniciar Sesión