<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta en UpTask
        p Acabas de registrarte en UpTask, haz click en el siguiente enlace para confirmar tu cuenta
        a(href="`${confirmarUrl}") Activar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Si no has solicitado este email puedes ignorarlo